<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomcat.mobile.whosthatpokemon" android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pokeball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PokemonSearch"></activity>
        <activity android:name=".PokemonLookup" />
        <activity android:name=".VersionHistory" />
        <activity android:name=".Settings" />
        <activity android:name=".Stats" />
        <activity android:name=".listview" />
        <activity android:name=".GameActivity" />
        <activity android:name=".GenerationSelection" />
        <activity android:name=".DifficultySelection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:targetSdkVersion="28" android:minSdkVersion="23"/>
</manifest>